<div class=" d-flex align-items-center c-1">
    <div class="col-1"></div>
    <div class="col-6 row">
        <div class="edu">
            <div class="degree">Undergraduate ( B.E EEE)</div>
            <div class="inst">Chennai Institute of Technology , Chennai</div>
            <div class="year">2021 - 2025 </div>
            <div class="perc">CGPA - 9.3</div>
        </div>
        <div class="edu">
            <div class="degree">HSE</div>
            <div class="inst">Vidya Mandir Matric Higher Seconday School</div>
            <div class="year">2019 - 2021 </div>
            <div class="perc">Percentage - 93.8 % </div>
        </div>
        <div class="edu">
            <div class="degree">SSLC</div>
            <div class="inst">Aruna Higher Secondary School</div>
            <div class="year">2014 - 2019 </div>
            <div class="perc">Percentage - 89.6 % </div>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-4 link-s ">
        <div class="lis mb-4" routerLink="/personal-details">Personal Details</div>
        <div class="lis mb-4" routerLink="/education">Education</div>
        <div class="lis mb-4" routerLink="/skills">Skills</div>
        <div class="lis mb-4" routerLink="/projects">Projects</div>
        <div class="lis mb-4" routerLink="/experience">Experience</div>
        <div class="lis mb-4" routerLink="/achievements">Achievements</div>
        <div class="lis mb-4" routerLink="/certificates">Certifications</div>
        <div class="lis mb-4" routerLink="/contact">Contact</div>
    </div>
</div>
