<div class=" d-flex align-items-center c-1">
    <div class="col-1"></div>
    <div class="col-6 row cot">
        <div class="skills">
            <div class="title">Certifications</div>
            <div class="sub-1">Coursera Certificates</div>
            <ul>
                <li>Cybersecurity Roles, Processes & Operating System Security</li>
                <li>Cybersecurity Compliance Framework & System Administration</li>
                <li>Introduction to Cybersecurity Tools & Cyber Attacks</li>
                <li>AngularJS for Beginners: Getting Started</li>
                <li>Command Line Basics in Linux</li>
                <li>Command Line in Linux</li>
                <li>Linux: I/O Redirection for DevOps</li>
                <li>Network Security & Database Vulnerabilities</li>
                <li>Linux: Archiving and Compression for DevOps (tar/gzip)</li>
                <li>Shell Scripting with Bash: Basics</li>
                <!-- <li>Cybersecurity Compliance Framework & System Administration IBM</li>
                <li>Cybersecurity Roles, Processes & Operating System Security IBM</li>
                <li>Introduction to Cybersecurity Tools & Cyber Attacks IBM</li>
                <li>AngularJS for Beginners: Getting Started</li>
                <li>Command Line Basics in Linux</li>
                <li>Command Line in Linux</li>
                <li>Linux: I/O Redirection for DevOps</li> -->
                <li>Network Security & Database Vulnerabilities IBM</li>
                <li>Shell Scripting with Bash: Basics</li>
            </ul>
            <div></div>
            <div class="d"></div>
            <div class="sub-1">Cisco NetAcad Certificates</div>
                <ul>
                    <li>NDG Linux Essentials</li>
                    <li>Cisco Introduction to Cybersecurity</li>
                    <li>Cisco Cybersecurity Essentials</li>
                    <li>Cisco Introduction to Packet Tracer</li>
                </ul>
                <div class="d"></div>
            <div class="sub-1">Matlab Certificates</div>
                <ul>
                    <li>Matlab Onramp</li>
                    <li>Simulink Onramp</li>
                </ul>

        </div>
            
            
            
    </div>
    <div class="col-1"></div>
    <div class="col-4 link-s ">
        <div class="lis mb-4" routerLink="/personal-details">Personal Details</div>
        <div class="lis mb-4" routerLink="/education">Education</div>
        <div class="lis mb-4" routerLink="/skills">Skills</div>
        <div class="lis mb-4" routerLink="/projects">Projects</div>
        <div class="lis mb-4" routerLink="/experience">Experience</div>
        <div class="lis mb-4" routerLink="/achievements">Achievements</div>
        <div class="lis mb-4" routerLink="/certificates">Certifications</div>
        <div class="lis mb-4" routerLink="/contact">Contact</div>
    </div>
</div>
