.link-s{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10vw;
}
.c-1{
    height: 80vh;
}
.lis{
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.15s ease-in-out, box-shadow 0.3s ease-in-out; 
}
.lis:hover {
    transform: scale(1.2); /* Increase the size by 1.4x on hover */
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);  */
}
.line{
    background-color: white;
}
.title{
    font-size: 60px;
    font-weight: 700;
}
.content{
    font-size: 20px;
}
.interns{
    margin: 30px 0px;
}
.sub-1{
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0px;
}
.cont{
    font-weight: 450;

}
li{
    margin-bottom: 7px;
}

.cot {
    overflow-y: auto; /* Apply auto scrolling */
    max-height: 81vh; /* Set a maximum height */
    margin-bottom: 25px;
    overflow-x: hidden;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animated-text {
    animation: slideInFromLeft 1.5s ease-in-out;
  }
