<div class=" d-flex align-items-center c-1">
    <div class="col-1"></div>
    <div class="col-6 row cot">
        <div class="int">
            <div class="title">Internships</div>
            <div class="interns">
                <div class="sub-1">Process Engineer (Bonfiglioli)</div>
                <div class="cont">
                    <ul>
                        <li>Interned for 2 months as a Process Engineer at Bonfiglioli Transmission</li>
                        <li>Applied theoretical knowledge in process optimization and engineering techniques</li>
                        <li>Conducted data analytics for over 3500 models in the APCN project</li>
                        <li>Analyzed additional data for validation software developed for the company</li>
                        <li>Worked on Excel for data validations and data analysis</li>
                        <li>Collaborated with cross-functional teams to achieve project goals</li>
                    </ul>
                      
                </div>
            </div>
            <div class="interns">
                <div class="sub-1">AICTE Virtual Internship(CISCO)</div>
                <div class="cont">
                    <ul>
                        <li>I learned practical skills and gained knowledge in cybersecurity</li>
                        <li>Interned with Cisco through the AICTE Virtual Internship Program</li>
                        <li>Gained hands-on experience in network security protocols</li>
                    </ul>
                      
                </div>
            </div>
        </div>
        <div class="prac">
            <div class="title">Practical Experience</div>
            <div class="sub-1">Team Minnuram</div>
            <div class="cont">
                <ul>
                    <li>Designed and constructed a mid-drive electric two-wheeler for the SAE event ETWDC as part of Team Minnuram.</li>
                    <li>Utilized a BLDC motor to demonstrate engineering proficiency in sustainable transportation solutions.</li>
                    <li>Executed MATLAB simulations during the Design review phase to validate project concepts and performance predictions.</li>
                    <li>Served as the Head of Innovation Module and a member of the Electrical Module team.</li>
                    <li>Conducted simulations for both BDC (Brushed DC) and PMSM (Permanent Magnet Synchronous Motor) to evaluate performance characteristics.</li>
                    <li>Responsible for connecting motors and controllers, ensuring seamless integration and functionality.</li>
                    <li>Designed low-voltage (LV) power lines and conducted battery calculations to optimize power distribution and ensure efficient operation.</li>
                  </ul>
                  
            </div>
        </div>
        
    </div>
    <div class="col-1"></div>
    <div class="col-4 link-s ">
        <div class="lis mb-4" routerLink="/personal-details">Personal Details</div>
        <div class="lis mb-4" routerLink="/education">Education</div>
        <div class="lis mb-4" routerLink="/skills">Skills</div>
        <div class="lis mb-4" routerLink="/projects">Projects</div>
        <div class="lis mb-4" routerLink="/experience">Experience</div>
        <div class="lis mb-4" routerLink="/achievements">Achievements</div>
        <div class="lis mb-4" routerLink="/certificates">Certifications</div>
        <div class="lis mb-4" routerLink="/contact">Contact</div>
    </div>
</div>
