<div class=" d-flex align-items-center c-1">
    <div class="col-1"></div>
    <div class="col-6 row cot animated-text">
        <div class="int">
            <div class="title">Projects</div>
            <div class="interns">
                <div class="sub-1">Stock Market Web Application </div>
                <div class="stack">Tech Stack Used: Angular, Firebase,HTML,CSS,Bootstrap</div>
                <div class="cont">
                    <ul>
                        <div class="lk"><a routerLink="/project-images" >click here</a> to view the images of projects</div>
                        <li>Developed an Angular-based stock application with user-friendly dashboards.</li>
                        <li>Integrated visually appealing designs to enhance stock management and portfolio monitoring.</li>
                        <li>Utilized Firebase as the backend for seamless data management.</li>
                        <li>Implemented CRUD functionality for watchlists, enabling efficient stock management.</li>
                        <li>Ensured an intuitive user experience for portfolio management.</li>
                      </ul>
                      
                      
                </div>
            </div>
            <div class="interns">
                <div class="sub-1">Finance Calculator</div>
                <div class="stack">Tech Stack Used: Angular, Bootstrap,HTML,CSS</div>
                <div class="cont">
                    <ul>
                        <div class="lk"><a routerLink="/project-images">Click here</a> to view the images of projects</div>
                        <li>Developed an Angular-based finance calculator with 12 functionalities for diverse calculations.</li>
                        <li>Implemented features for calculating compound interest, loan payments, and mortgage amortization schedules.</li>
                        <li>Designed an intuitive user interface with interactive inputs and clear results for easy financial planning.</li>
                        <li>Integrated responsive design principles to ensure compatibility across various devices and screen sizes.</li>
                        <li>Utilized Angular services and components to modularize code and enhance maintainability.</li>
                        <li>Enabled users to save and export calculation results for future reference and analysis.</li>
                    </ul>
                </div>
            </div>
            
            <div class="interns">
                <div class="sub-1">Blog Website</div>
                <div class="stack">Tech Stack Used: Angular, Bootstrap,HTML,CSS</div>
                <div class="cont">
                    <ul>
                        <div class="lk"><a routerLink="/project-images">Click here</a> to view the images of projects</div>
                        <li>Developed a responsive blog website using HTML, CSS, and Bootstrap.</li>
                        <li>Implemented a clean and visually appealing design for enhanced user engagement.</li>
                        <li>Ensured seamless functionality and intuitive navigation for optimal user experience.</li>
                        <li>Utilized Bootstrap framework to streamline development and ensure cross-browser compatibility.</li>
                    </ul>
                </div>
            </div>
            
            
            <div class="interns">
                <div class="sub-1">APCN Project (Excel)</div>
                <div class="stack">Tech Stack Used: Microsoft Excel</div>
                <div class="cont">
                    <ul>
                        <!-- <div class="lk"><a routerLink="/project-images">Click here</a> to view the images of projects</div> -->
                        <li>This project was done during my Internship at Bonfiglioli</li>
                        <li>Conducted comprehensive analysis on 3500+ models in the APCN project.</li>
                        <li>Provided valuable insights to enhance efficiency by identifying errors in assembly line testing.</li>
                        <li>Contributed to improving product quality and reducing production downtime.</li>
                        <li>Collaborated with team members to implement corrective measures and optimize assembly line processes.</li>
                    </ul>
                </div>
            </div>
            
            <div class="interns">
                <div class="sub-1">Portfolio Project</div>
                <div class="stack">Tech Stack Used: Angular, Bootstrap,HTML,CSS</div>
                <div class="cont">
                    <ul>
                        <li>Developed a responsive portfolio website using Angular to showcase projects and skills.</li>
                        <li>Implemented HTML, CSS, and Angular framework to design and create visually appealing user interfaces.</li>
                        <li>Utilized Bootstrap framework for enhancing responsiveness and mobile compatibility.</li>
                        <li>Incorporated interactive elements and animations to engage users and improve user experience.</li>
                        <li>Collaborated with team members to gather feedback and iterate on design and functionality.</li>
                        <li>The portfolio you are viewing is made by me, demonstrating my skills in web development with Angular.</li>
                    </ul>
                </div>
            </div>
            

            <div class="interns">
                <div class="sub-1">Electric Two Wheeler (Team Minnuram)</div>
                
                <div class="cont">
                    <ul>
                        <!-- <div class="lk"><a routerLink="/project-images">Click here</a> to view the images of projects</div> -->
                        <li>Designed and constructed a mid-drive electric two-wheeler for the SAE event ETWDC.</li>
                        <li>Utilized a Brushless DC (BLDC) motor to showcase engineering expertise in sustainable transportation.</li>
                        <li>Executed a MATLAB simulation for the Design review phase of the project, ensuring design accuracy.</li>
                        <li>Demonstrated innovative engineering solutions for enhancing performance and efficiency in electric vehicles.</li>
                        <li>Collaborated effectively within Team Minnuram to achieve project objectives and deadlines.</li>
                    </ul>
                </div>
            </div>
            

            <div class="interns">
                <div class="sub-1">MATLAB Simulink Project (Motor Simulation)</div>
                
                <div class="cont">
                    <ul>
                        <!-- <div class="lk"><a routerLink="/project-images">Click here</a> to view the images of projects</div> -->
                        <li>Modeled a battery cooling system for an electric two-wheeler in MATLAB Simulink.</li>
                        <li>Simulated Brushless DC (BLDC) and Permanent Magnet Synchronous Motor (PMSM) motors to advance design precision.</li>
                        <li>Enhanced design accuracy and efficiency for the Electric Two-Wheeler Design Competition (ETWDC).</li>
                        <li>Contributed to the development of innovative solutions for improving battery performance and motor efficiency.</li>
                    </ul>
                </div>
            </div>
            
            
        </div>
        
        
    </div>
    <div class="col-1"></div>
    <div class="col-4 link-s ">
        <div class="lis mb-4" routerLink="/personal-details">Personal Details</div>
        <div class="lis mb-4" routerLink="/education">Education</div>
        <div class="lis mb-4" routerLink="/skills">Skills</div>
        <div class="lis mb-4" routerLink="/projects">Projects</div>
        <div class="lis mb-4" routerLink="/experience">Experience</div>
        <div class="lis mb-4" routerLink="/achievements">Achievements</div>
        <div class="lis mb-4" routerLink="/certificates">Certifications</div>
        <div class="lis mb-4" routerLink="/contact">Contact</div>
    </div>
</div>
