<div class=" d-flex align-items-center c-1">
    <div class="col-1"></div>
    <div class="col-6 row cot">
        <div class="skills">
            <div class="title">Skills</div>
            <div class="sub-1">Programming Languages</div>
            <ul>
                <li>Java (Intermediate)</li>
                <li>Python (Intermediate)</li>
                <li>C (Intermediate)</li>
                <li>C++ (Beginner)</li>
                <li>JavaScript (Beginner)</li>
                <li>TypeScript (Intermediate)</li>
                <li>HTML (Advanced)</li>
                <li>CSS (Advanced)</li>
                <li>Bootstrap (Advanced)</li>
                <li>Angular  (Intermediate)</li>
                <li>Node Js (Intermediate)</li>
                <li>Express Js (Beginner)</li>
                <li>MySQL (Intermediate)</li>
            </ul>
            <div class="sub-1">Operating System (OS)</div>
                <ul>
                    <li>Windows (Advanced)</li>
                    <li>Linux (Intermediate)</li>
                    
                </ul>
                <div class="sub-1">Linux Operating System</div>
                <ul>
                    <li>Shell Scripting (Beginner)</li>
                    <li>File manipulation (Intermediate)</li>
                    <li>Os Installation (Intermediate)</li>
                    <li>Text Editors (Intermediate)</li>
                    <li>Package manager(Beginner)</li>
                    <li>Commands (Intermediate)</li>
                    <li>CLI (Advanced)</li>
                    <li>Kali Linux (Intermediate)</li>
                    <li>Ubuntu (Intermediate)</li>
                    
                </ul>
            </div>
            
            
        <div class="tools">
            <div class="title">Tools</div>
                <ul>
                    <li>Microsoft Office Tools</li>
                    <li>Google Sheets</li>
                    <li>Google Slides</li>
                    <li>Google Docs</li>
                    <li>Matlab</li>
                    <li>Figma</li>
                    <li>Visual Studio Code (VS Code)</li>
                    <li>ChatGPT</li>
                    <li>PowerBI</li>
                    <li>Nmap</li>
                    <li>Microsoft Excel (MS Excel)</li>
                </ul>
                
                
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-4 link-s ">
        <div class="lis mb-4" routerLink="/personal-details">Personal Details</div>
        <div class="lis mb-4" routerLink="/education">Education</div>
        <div class="lis mb-4" routerLink="/skills">Skills</div>
        <div class="lis mb-4" routerLink="/projects">Projects</div>
        <div class="lis mb-4" routerLink="/experience">Experience</div>
        <div class="lis mb-4" routerLink="/achievements">Achievements</div>
        <div class="lis mb-4" routerLink="/certificates">Certifications</div>
        <div class="lis mb-4" routerLink="/contact">Contact</div>
    </div>
</div>
