<div class=" d-flex align-items-center c-1">
    <div class="col-1"></div>
    <div class="col-6 row animated-text">
        <table>
            <tr class="row-1">
                <td>Name</td>
                <td>Ezhilan</td>
            </tr>
            
            <tr>
                <td>Date of Birth</td>
                <td>3<sup>rd</sup> Jan 2004</td>
            </tr>
            <tr>
                <td>Qualification</td>
                <td>B.E Electrical and Electronics Engineering</td>
            </tr>
            <tr>
                <td>Graduation Year</td>
                <td>2025</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>Male</td>
            </tr>
            <tr>
                <td>Languages Known</td>
                <td>Tamil , English</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>ezhilnaga4732&commat;gmail.com</td>
            </tr>
            <tr>
                <td>Mobile</td>
                <td>+91 6374432150</td>
            </tr>
        </table>
    </div>
    <div class="col-1"></div>
    <div class="col-4 link-s ">
        <div class="lis mb-4" routerLink="/personal-details">Personal Details</div>
        <div class="lis mb-4" routerLink="/education">Education</div>
        <div class="lis mb-4" routerLink="/skills">Skills</div>
        <div class="lis mb-4" routerLink="/projects">Projects</div>
        <div class="lis mb-4" routerLink="/experience">Experience</div>
        <div class="lis mb-4" routerLink="/achievements">Achievements</div>
        <div class="lis mb-4" routerLink="/certificates">Certifications</div>
        <div class="lis mb-4" routerLink="/contact">Contact</div>
    </div>
</div>
