<div class=" d-flex align-items-center c-1">
    <div class="col-1"></div>
    <div class="col-6 row cot">
        <div class="skills">
            <div class="title">Achievements</div>
            <div class="sub-1">Coding Platforms and Courses</div>
            <ul>
                <li>Solved 200+ problems on Leetcode</li>
                <li>1 &#x2606; coder in Codechef</li>
                <li>Solved 139+ problems in Codechef</li>
                <li>Solved 1317+ problems in SkillRack</li>
                <li>3 badges from cisco and 5 badges from IBM in credly <a href="https://www.credly.com/users/ezhilan-n">click here to view</a></li>
                <li>21 reputation in Stack overflow</li>
            </ul>
            <div></div>
            <div class="d"></div>
            <div class="sub-1 sub-1-1">Events Participations</div>
            <ul>
                <li>Participant in SAE's ETWDC 2023 eBike building event</li>
                <li>Participated in Inspire Award during my 8th standard</li>
                
                
            </ul>
        </div>
            
            
            
    </div>
    <div class="col-1"></div>
    <div class="col-4 link-s ">
        <div class="lis mb-4" routerLink="/personal-details">Personal Details</div>
        <div class="lis mb-4" routerLink="/education">Education</div>
        <div class="lis mb-4" routerLink="/skills">Skills</div>
        <div class="lis mb-4" routerLink="/projects">Projects</div>
        <div class="lis mb-4" routerLink="/experience">Experience</div>
        <div class="lis mb-4" routerLink="/achievements">Achievements</div>
        <div class="lis mb-4" routerLink="/certificates">Certifications</div>
        <div class="lis mb-4" routerLink="/contact">Contact</div>
    </div>
</div>
