<div class=" d-flex align-items-center c-1">
    <div class="col-1"></div>
    <div class="col-6 row animated-text">
        <div class="title">Welcome.</div>
        <div class="content mt-5">
            <p class="splits">
                I'm Ezhilan, an enthusiastic Angular frontend developer, passionate about crafting dynamic and responsive web experiences. Armed with a strong foundation in Electrical and Electronics Engineering, I seamlessly blend hardware insights with software expertise. My journey revolves around creating sleek, user-friendly interfaces that bring ideas to life.
            </p>
            <p class="splits">
                Proficient in Angular and dedicated to staying abreast of the latest trends, I embrace challenges as opportunities to innovate. Beyond coding, you'll find me navigating Linux environments, exploring new tech realms, and immersing myself in the world of books. Let's connect and explore the possibilities together!
            </p>
        </div>
        
    </div>
    <div class="col-1"></div>
    <div class="col-4 link-s ">
        <div class="lis mb-4" routerLink="/personal-details">Personal Details</div>
        <div class="lis mb-4" routerLink="/education">Education</div>
        <div class="lis mb-4" routerLink="/skills">Skills</div>
        <div class="lis mb-4" routerLink="/projects">Projects</div>
        <div class="lis mb-4" routerLink="/experience">Experience</div>
        <div class="lis mb-4" routerLink="/achievements">Achievements</div>
        <div class="lis mb-4" routerLink="/certificates">Certifications</div>
        <div class="lis mb-4" routerLink="/contact">Contact</div>
    </div>
</div>
